<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>e_Library_Project3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>e_Library_controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>e_Library_controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Log_out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>e_Library_controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToFavServlet</display-name>
    <servlet-name>AddToFavServlet</servlet-name>
    <servlet-class>e_Library_controller.AddToFavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToFavServlet</servlet-name>
    <url-pattern>/add-tofav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFavServlet</display-name>
    <servlet-name>RemoveFavServlet</servlet-name>
    <servlet-class>e_Library_controller.RemoveFavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFavServlet</servlet-name>
    <url-pattern>/remove_from_fav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFavServlet0</display-name>
    <servlet-name>RemoveFavServlet0</servlet-name>
    <servlet-class>e_Library_controller.RemoveFavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFavServlet0</servlet-name>
    <url-pattern>/rem_fav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>e_Library_controller.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserList</display-name>
    <servlet-name>UserList</servlet-name>
    <servlet-class>e_Library_controller.UserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserList</servlet-name>
    <url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserServlet</display-name>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>e_Library_controller.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/rem-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveBookServlet</display-name>
    <servlet-name>RemoveBookServlet</servlet-name>
    <servlet-class>e_Library_controller.RemoveBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookServlet</servlet-name>
    <url-pattern>/RemoveBookServlet</url-pattern>
  </servlet-mapping>
</web-app>